<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	SPL-TIF</display-name>
	<servlet>
		<description>
		register tool and event</description>
		<display-name>
		RegisterTool</display-name>
		<servlet-name>RegisterTool</servlet-name>
		<servlet-class>
		cn.org.tcse.soapexpress.spltif.RegisterTool</servlet-class>
	</servlet>
	<servlet>
		<description>
		Register Service Flow to TIF</description>
		<display-name>
		RegisterServiceFlow</display-name>
		<servlet-name>RegisterServiceFlow</servlet-name>
		<servlet-class>
		cn.org.tcse.soapexpress.spltif.RegisterServiceFlow</servlet-class>
	</servlet>
	<servlet>
		<description>
		register map</description>
		<display-name>
		RegisterMap</display-name>
		<servlet-name>RegisterMap</servlet-name>
		<servlet-class>
		cn.org.tcse.soapexpress.spltif.RegisterMap</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterTool</servlet-name>
		<url-pattern>/RegisterTool</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServiceFlow</servlet-name>
		<url-pattern>/RegisterServiceFlow</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterMap</servlet-name>
		<url-pattern>/RegisterMap</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
